### 전용면적별 세대수와 단지내주차면수와 관계를 알아보자

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd

In [3]:
import os, warnings
import re
warnings.filterwarnings(action='ignore')

In [4]:
### 한글 폰트 설정
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import platform
path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")
matplotlib.rcParams['axes.unicode_minus'] = False

In [5]:
train=pd.read_csv('./train_df_errno.csv')
test=pd.read_csv('./test_df.csv')
sub=pd.read_csv('./sample_submission.csv')
age=pd.read_csv('./age_gender_info.csv')
train.shape, test.shape, sub.shape, age.shape

((2896, 15), (1008, 14), (150, 2), (16, 23))

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   단지코드        2896 non-null   object
 1   총세대수        2896 non-null   int64
 2   임대건물구분      2896 non-null   object
 3   지역          2896 non-null   object
 4   공급유형        2896 non-null   object
 5   전용면적        2896 non-null   float64
 6   전용면적별세대수    2896 non-null   int64
 7   공가수         2896 non-null   float64
 8   자격유형        2896 non-null   object
 9   임대보증금       2327 non-null   object
 10  임대료         2327 non-null   object
 11  10분내지하철수    2685 non-null   float64
 12  10분내버스정류장수  2892 non-null   float64
 13  단지내주차면수     2896 non-null   float64
 14  등록차량수       2896 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 339.5+ KB

In [9]:
train.corr()

,총세대수,전용면적,전용면적별세대수,공가수,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
총세대수,1.000000,0.040103,0.098876,0.066245,0.211792,-0.002773,0.522593,0.333440
전용면적,0.040103,1.000000,-0.032453,-0.081549,-0.010291,-0.005071,0.067340,0.112717
전용면적별세대수,0.098876,-0.032453,1.000000,0.162061,-0.057606,0.045394,0.283585,0.250513
공가수,0.066245,-0.081549,0.162061,1.000000,-0.094096,0.043936,0.288062,0.118910
10분내지하철수,0.211792,-0.010291,-0.057606,-0.094096,1.000000,0.097503,-0.053185,-0.107308
10분내버스정류장수,-0.002773,-0.005071,0.045394,0.043936,0.097503,1.000000,0.073013,0.104135
단지내주차면수,0.522593,0.067340,0.283585,0.288062,-0.053185,0.073013,1.000000,0.861338
등록차량수,0.333440,0.112717,0.250513,0.118910,-0.107308,0.104135,0.861338,1.000000

In [8]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0